@font-face {
  font-family: 'Tiempos Fine';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/tiempos-fine-web-semibold.woff2') format('woff2'), url('../fonts/tiempos-fine-web-semibold.woff') format('woff');
}
